<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <td>

            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <button value="1" class="btn btn-secondary">1</button>
                <button value="2" class="btn btn-secondary">2</button>
                <button value="3" class="btn btn-secondary">3</button>
                <button value="+" class="btn btn-secondary">+</button>
            </td>
        </tr>
        <tr>
            <td>
                <button value="4" class="btn btn-secondary">4</button>
                <button value="5" class="btn btn-secondary">5</button>
                <button value="6" class="btn btn-secondary">6</button>
                <button value="-" class="btn btn-secondary">-</button>
            </td>
        </tr>
        <tr>
        <td>
            <button value="7" class="btn btn-secondary">7</button>
            <button value="8" class="btn btn-secondary">8</button>
            <button value="9" class="btn btn-secondary">9</button>
            <button value="/" class="btn btn-secondary">/</button>
        </td>
        </tr>
        <tr>
            <td>
                <button value="." class="btn btn-secondary">.</button>
                <button value="0" class="btn btn-secondary">0</button>
                <button value="=" class="btn btn-secondary">=</button>
                <button value="*" class="btn btn-secondary">*</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>