<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/app.css">

</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <td>
                <div class="row m-1">
                    <input class="col-md-9 flex flex-fill" type="text" placeholder="0" >
                    <button class="btn btn-primary col-lg-3">C</button>
                    
                </div>

            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="row m-1">
                    <button id="one" value="1" class="  hover: border border-primary btn btn-primary col-lg-3">1</button>
                    <button id="two" value="2" class="  btn btn-primary col-lg-3">2</button>
                    <button id="three" value="3" class="  btn btn-primary col-lg-3">3</button>
                    <button id="add" value="+" class="  btn btn-primary col-lg-3">+</button>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="row m-1">
                    <button id="four" value="4" class="btn btn-primary col-lg-3">4</button>
                    <button id="five" value="5" class="btn btn-primary col-lg-3">5</button>
                    <button id="six" value="6" class="btn btn-primary col-lg-3">6</button>
                    <button id="minus" value="-" class="btn btn-primary col-lg-3">-</button>
                </div>

            </td>
        </tr>
        <tr>
        <td>
            <div class="row m-1">
                <button  id="seven" value="7" class="btn btn-primary col-lg-3">7</button>
                <button id="eight"  value="8" class="btn btn-primary col-lg-3">8</button>
                <button  id="nine" value="9" class="btn btn-primary col-lg-3">9</button>
                <button  id="divide" value="/" class="btn btn-primary col-lg-3">/</button>
            </div>

        </td>
        </tr>
        <tr>
            <td>
                <div class="row m-1">
                    <button id="decimal" value="." class="btn btn-primary col-lg-3">.</button>
                    <button id="zero" value="0" class="btn btn-primary col-lg-3">0</button>
                    <button id="equals" value="=" class="btn btn-primary col-lg-3">=</button>
                    <button id="multiply" value="*" class="btn btn-primary col-lg-3">*</button>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>